/* @import "mocha.css"; */

@define-color bg    #1d2021;
@define-color bg2   #504945;
@define-color text  #d5c4a1;
@define-color lavender  #83a698;
@define-color orange    #fe8019;
@define-color purple    #d3869b;
@define-color red   #fb4934;
@define-color green #b8bb26;
@define-color aqua  #8ec07c;

* {
    font-family:  RobotoMono Nerd Font;
    font-weight: bold;
    font-size: 16px;
    color: @text;
}
  
window#waybar {
    border-bottom-style: inset;
    background-color: @bg;
    border-top: 2px solid @aqua;
   /* transition-property: background-color;
    transition-duration: .5s;*/
}

/* Workspace Buttons */
#workspaces button label{
    color: @aqua;
}
#workspaces button.focused label {
    color: @bg;
}
#workspaces button.focused {
    background: @aqua; 
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    padding: 5px 5px;
    background-color: @bg2;
    border-bottom: 2px solid @aqua;
    border-top: 2px solid @aqua;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#rofi,
#wallpaper,
#logout,
#window,
#workspaces {
    margin: 0 5px;
}

#rofi {
    padding: 5px;
}

#scratchpad {
    padding: 0 3px;
    color: @aqua;
}

#scratchpad.empty {
	background-color: transparent;
}

#pulseaudio {
    padding: 5px 5px;
    color: @lavender;
}

#pulseaudio.muted {
    padding: 5px 5px;
    color: @red;
}

#network {
    padding: 5px 5px;
    color: @green;
}

#network.disconnected {
    padding: 5px 5px;
    color: @red;
}

#memory {
    padding: 5px 5px;
    color: @lavender;
}

#backlight {
    padding: 5px 5px;
    color: @aqua;
}

#battery {
    padding: 5px 5px;
    color: @lavender;
}

#battery.charging, #battery.plugged {
    padding: 5px 5px;
    color: @green;
}

@keyframes blink {
    to {
        background-color: @surface2;
        color: @rad;
    }
}

#battery.critical:not(.charging) {
    padding: 5px 5px;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    padding: 5px 5px;
    color: @purple;
}

#wallpaper {
    color: @aqua;
}

#logout {
    color: @orange;
}

#tray > .needs-attention {
    background-color: @red;
}
