@import "mocha.css";

* {
    /* reference the color by using @color-name */
    font-family:  RobotoMono Nerd Font;
    font-size: 17px;
    color: @lavender;
}
  
window#waybar {
    background-color: shade(@base, 0.8);
    border: 3px solid alpha(@crust, 0.3);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 9px 9px;
    background-color: transparent;
    color: @text;
}

#workspaces button.focused {
    background-color: @surface0;
   /* border-bottom: 3px solid @maroon; */
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    padding: 5px 5px;
    background-color: @surface1;
    border-bottom: 3px solid @mauve;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#rofi,
#wallpaper,
#logout,
#window,
#workspaces {
    margin: 0 5px;
}

#rofi {
    padding: 5px;
}

#scratchpad {
    padding: 0 3px;
    color: @mauve;
}

#scratchpad.empty {
	background-color: transparent;
}

#pulseaudio {
    padding: 5px 5px;
    color: @lavender;
}

#pulseaudio.muted {
    padding: 5px 5px;
    color: @red;
}

#network {
    padding: 5px 5px;
    color: @lavender;
}

#network.disconnected {
    padding: 5px 5px;
    color: @red;
}

#memory {
    padding: 5px 5px;
    color: @lavender;
}

#backlight {
    padding: 5px 5px;
    color: @lavender;
}

#battery {
    padding: 5px 5px;
    color: @lavender;
}

#battery.charging, #battery.plugged {
    padding: 5px 5px;
    color: @green;
}

@keyframes blink {
    to {
        background-color: @surface2;
        color: @pink;
    }
}

#battery.critical:not(.charging) {
    padding: 5px 5px;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    padding: 5px 5px;
    color: @lavender;
}

#wallpaper {
    color: @lavender;
}

#logout {
    color: @lavender;
}

#tray > .needs-attention {
    background-color: @red;
}
